
body{
	font: black;
}
img {
	width: 250px;
	height: 250px;
	
}


.img-nyt{
	margin-bottom: 30px;
}
/* .main,.side {
	float: left;
    margin: 60px;
} */
./* main{
	width: 60%;//700px;
	background-color: #ffffff;
	//margin:40px;
}
.side{
	width:370px;
	background-color: #ffffff;
	margin:40px;
} */
